.countries-view{
    display: flex;
    flex-direction: column;
    width: 91vw;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 20%;
    padding-left: 0px;
    margin: 0px;
}

.search-filter-bar{
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 40px;
}

.countries-list{
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media(max-width: 650px){
    .countries-list{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
    }

    .search-filter-bar{
        flex-direction: column;
        padding-top: 20px;
    }
}