.search-bar{
    width: 30%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    box-sizing: border-box;
}

.search-icon{
    color: grey;
}

.search-input{
    margin-left: 20px;
    border: none;
    width: 90%;
    height: 35px;
    outline: none;
    font-size: 14px;
}

@media(max-width: 650px){
    .search-bar{
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 5px;
        padding-bottom: 5px;
        box-sizing: border-box;
    }

    .search-input{
        font-size: 12px;
    }
}