.app-header{
    width: 100%;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
}

.app-header-text{
    font-size: 25px;
    padding: 0px;
}

@media(max-width: 650px){
    .app-header-text{
        font-size: 15px;
    }
}